{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create character</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
{% endblock %}
